.container {
  width: 100%;
  .block {
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    padding: 6px;
    margin: 10px;
    color: #333;
  }
  .title {
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 14px;
  }
  .item {
    width: 100;
    margin: 8px 10px;
    font-size: 14px;
  }
  .item-right {
    text-align: right;
    margin-top: 20px;
    font-weight: 600;
  }
  .item-btn {
    cursor: pointer;
    color: rgba(0, 0, 238, 0.5);
  }
}
