@import "../../style/var.scss";

.page {
  background-color: $background-color-main-gray;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 280rpx;
  margin-top: 64rpx;
  padding-bottom: 16rpx;
  background: #fff;

  .avatar {
    width: $height-avatar-large;
    height: $height-avatar-large;
    border-radius: 100%;
    overflow: hidden;
  }
}

.user-info {
  .radio {
    margin-right: 20rpx;
  }
}