@import './style/var.scss';

.to-set {
  color: rgb(136, 136, 221);
  cursor: pointer;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.block {
  width: 100%;
  background-color: #fff;
  margin-top: $margin-top-block;

  .cell {
    height: $height-cell;
    display: flex;
    box-sizing: border-box;
    border-bottom: $border-cell;
    align-items: center;
    font-size: $font-size-cell;
    font-family: $font-family-main;
    background: #fff;
    padding: $padding-cell;
    width: 100%;
    .cell-label {
      margin-left: 16rpx;
      width: $width-cell-label;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: $color-cell-label;
      flex-shrink: 1;
      margin-right: 20rpx;
    }
    .cell-left-icon {
      width: $height-cell-icon;
      height: $height-cell-icon;
    }
    .cell-content {
      color: $color-cell-content;
      flex: 1;

      textarea {
        width: initial;
      }
    }
    .cell-right-text {
      font-size: $font-size-desc;
      color: $color-cell-text;
      margin: 0 4px 0 2px;
      width: $width-cell-text;
      text-align: right;
    }
    .cell-right-icon {
      margin-right: 8rpx;
      width: $height-cell-icon;
      height: $height-cell-icon;
    }

    .cell-placeholder {
      color: $color-cell-placeholder;
    }

    .cell-picker-inner {
      display: flex;
      align-items: center;
      height: calc($height-cell - 1px);
      min-width: 400rpx;
      cursor: pointer;
      user-select: none;
    }
  }
  .cell--large {
    height: $height-cell--large;

    .cell-picker-inner {
      height: calc($height-cell--large - 1px);
    }
  }
}

.block-button {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40rpx 0;
  van-button {
    width: 100%;
    text-align: center;
  }
  button {
    width: 80%;
    border-radius: $border-radius-8;
    overflow: hidden;
    font-size: 16px;
  }
}

.card {
  border-radius: $border-radius-8;
  border: 1px solid $color-border-main;
  margin: $margin-card;
  padding: 4px 0;
  .title {
    font-size: $font-size-title;
    margin-bottom: 14px;
    margin-top: 20px;
    text-align: center;
  }
  .subtitle {
    margin: $margin-card-subtitle;
    color: $color-card-subtitle;
    text-align: right;
    font-size: $font-size-subtitle;
  }
  .item,
  .item-right {
    margin: $margin-card-item;
    font-size: $font-size-desc;
  }
  .item-right {
    text-align: right;
  }
  .item-formula {
    margin: $margin-card-item-formula;
    font-size: 15px;
    color: $color-card-item-formula;
  }
  .text-important {
    color: black;
    font-weight: 600;
  }
}

.card-no-border {
  border: none !important;
}
