.page {
  position: relative;
  min-height: 100vh;

  .bar-container {
    position: absolute;
    top: 16rpx;
    bottom: 16rpx;
    left: 36rpx;
    right: 36rpx
  }

  .list-container {
    position: absolute;
    top: 100vh;
  }
}

ec-canvas {
  width: 100%;
  height: 100%;
}
